#dd_menu{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: grey;

    text-align: left;
    margin: auto 0;

    background-color: white;
    color: black;
    width: 5rem;
}

.dropdown-toggle::after{
    margin-left: 2.4em;
}