#dd_menu{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: grey;

    text-align: left;
    margin: auto 0;

    background-color: white;
    color: black;
    width: 5rem;
}

.dropdown-toggle::after{
    margin-left: 2.4em;
}


@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('https://media0.giphy.com/media/hWZBZjMMuMl7sWe0x8/giphy.gif?cid=ecf05e479v1b9i2wv8vv1lu18513retd9ydm5p1lthlr4wum&rid=giphy.gif&ct=g') 50% 50% no-repeat white;
}

