button {
    color: var(--label-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
  }
.AddRemoveButton{
    color: green;
    font-size: 0.75rem;
    font-weight: bold;
}
.SmallButtons{
    padding: auto;
    margin-left: 2px;
    margin-right: 2px;

}

.Remove{
    background-color: red;
    color: black;
    font-size: 10px;
    font-style: normal;
    border-radius: 2px;
    margin-right: 20px;
    width: 40px;
    height: 20px;
}
.SubmitButton{
    width: 25px;
    height: 25px;
}