.Remove {
  background-color: red;
  color: black;
  font-size: 10px;
  font-style: normal;
  border-radius: 2px;
  margin-right: 20px;
  width: 40px;
  height: 20px;
}
.radio{
	color: green;
	height: 25px;
    width: 25px;


}

.add-to-cart{
  background-color: antiquewhite;
  font-size: 10px;
  border-radius: 1px;
  width: auto;
  height: auto;
  margin-right: 25px;
}
