button {
    color: var(--label-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
  }
.AddRemoveButton{
    color: green;
    font-size: 0.75rem;
    font-weight: bold;
}
.SmallButtons{
    padding: auto;
    margin-left: 2px;
    margin-right: 2px;

}

.RemoveForever{
    color: red;
    font-size: 0.75rem;
    font-weight: bold;
}
.SubmitButton{
    margin-left: 633px;
}