.ListText{
    color:black;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
}

.imageCenter{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}