.Remove {
  background-color: red;
  color: black;
  font-size: 10px;
  font-style: normal;
  border-radius: 2px;
  margin-right: 20px;
  width: 40px;
  height: 20px;
}
.checkbox1{
	height: 30px;
  width: 30px;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;

}

.expanse-remove{
  background-color: white;
  font-size: 10px;
  border-radius: 1px;
  width: auto;
  height: auto;
  margin-right: 25px;
  align-self: center;
}

.round {
  position: relative;
}