body {
  background: white;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
div {
  text-align: center;
}

img {
  width: 100%;
}

.big-checkbox {
  width: 30px;
  height: 30px;
}
.img-sizing {
  width: 60%;
  border-radius: 20px;
  border-color: red;
}

.recom-divs{
  text-align: center;
  font-size: 15px;
  padding: 1px;
  width: 70%;
  margin-left: 17%;
}

.recom-divs-subsection{

  text-align: center;
  font-size: 10px;
  padding: 1px;
  width: 70%;
  margin-left: 17%;
}